body{
    margin-left: 7rem;
    margin-right: 7rem;
    font-family: 'Poppins';
    background-color: #56f711;
  }
  .nav{
    display: flex;
    font-size: larger;
  }  
  .agriplus{
    width: 40%;
    margin-top: 1em;
  }
  .grocery{
    background-image: url("image 1.png");

  }